@import "fonts/fonts";
@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/light";



body {
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Source Sans Pro',sans-serif !important;
}

body {
  user-select: none;
}

/* Для старых браузеров */
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* scroll Bar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--inverted-secondary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7843e9;
}

