@import "fonts/fonts";
@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/light";

body {
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Source Sans Pro',sans-serif
}


