.progress-bar-container {
  width: 100%;
  height: 2px;
  background-color: #f0f0f0; /* Цвет фона */
}

.progress-bar {
  height: 100%;
  background-color: red; /* Цвет прогресса */
  transition: width 0.3s ease-in-out; /* Плавное изменение ширины */
}
