.about{
  background-color: var(--bg-color);
}

.mainContainer {
  max-width: 120rem;
  margin: auto;
  width: 92%
}

.secPad {
  padding: 12rem 0
}

@media only screen and (max-width: 56.25em) {
  .secPad {
    padding:8rem 0
  }
}

.aboutContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10rem
}

@media only screen and (max-width: 56.25em) {
  .aboutContent {
    grid-template-columns:1fr;
    grid-gap: 8rem
  }
}