.buttonSpace {
  margin: 0 5px;
}

@media only screen and (max-width: 37.5em) {
  .buttonSpace {
    margin: 0 35px;
  }
}

.toggle {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  box-shadow: 0 0 1px 1px var(--inverted-primary-color);
  line-height: 1;
}

.input {
  display: none;
}

.icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 500ms;
}

.iconSun {
  transform: scale(0);
}

#switch:checked + .iconMoon {
  transform: rotate(360deg) scale(0);
}

#switch:checked ~ .iconSun {
  transform: scale(1) rotate(360deg);
}
