.app_dark_theme {
  --bg-color: #262626;
  --inverted-bg-color: #fafafa;
  --primary-color: #fafafa;
  --secondary-color: #d9d9d9;
  --inverted-primary-color: #262626;
  --inverted-secondary-color: #595959;
  --purple: #7843e9;
  --purple-light: rgba(120,67,233,.4);


  --c1: #141414;
  --c2: #262626;
  --c3: #1f1f1f;
  --hr: rgba(0, 0, 0, 0.76);
}
