.app_light_theme {
  --bg-color: #fafafa;
  --inverted-bg-color: #262626;
  --primary-color: #262626;
  --secondary-color: #595959;
  --inverted-primary-color: #fafafa;
  --inverted-secondary-color: #d9d9d9;
  --purple: #7843e9;
  --purple-light: rgba(120,67,233,.2);


  --c1: rgba(217, 217, 217, 0.6);
  --c2: #fafafa;
  --c3: #f0f0f0;
}
