.aboutContentTitle {
  @include titleH3;
  margin-bottom: 3rem
}

@media only screen and (max-width: 37.5em) {
  .aboutContentTitle {
    font-size:2.4rem
  }
}

.skills {
  display: flex;
  flex-wrap: wrap
}

.secondaryTitle{
  margin-bottom: 1rem;
}